.co2_card {
    inline-size: 250px;
    block-size: 60px;
    position: fixed;
    inset-block-start: 96px;
    inset-inline-start: 260px;
    background-color: white;
    border-radius: 10px;
}

.co2_icon {
    inline-size: 60px;
    block-size: 50px;
    border: none;
    position: fixed;
    inset-block-start: 102px;
    inset-inline-start: 265px;
    background-color: rgb(173, 255, 47, 0.4);
    border-radius: 10px;
}

.co2 {
    font-weight: bold;
    color: gray;
    font-size: 18px;
    font-weight: 10px;
    border: none;
    position: fixed;
    inset-block-start: 102px;
    inset-inline-start: 341px;
}

.co2_value {
    font-weight: bold;
    font-size: 15px;
    font-weight: 10px;
    border: none;
    position: fixed;
    inset-block-start: 132px;
    inset-inline-start: 341px;
}

.ppm {
    font-weight: bold;
    font-weight: 10px;
    border: none;
    position: fixed;
    inset-block-start: 132px;
    inset-inline-start: 391px;
}

.co2_alert {
    inline-size: 15px;
    block-size: 15px;
    position: fixed;
    inset-block-start: 102px;
    inset-inline-start: 488px;
    border: none;
    border-radius: 12px;
    background-color: rgb(65, 253, 65);
}

/* Ajoutez cette règle pour gérer le clignotement en rouge */
.alert-active1 {
    background-color: red;
    animation: blink 500ms infinite alternate;
}

/* Définition de l'animation de clignotement */
@keyframes blink {
    from {
        background-color: red;
    }
    to {
        background-color: white;
    }
}
